.nav {
  height: 50px;
  padding: 10px;
  background-color: #000000d1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li a {
      margin: 5px 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
